html,
body,
header,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header h1 {
}

main#container {
  margin: 10px auto;
  max-width: 800px;
  width: 100%;
  position: relative;
}

main div#board {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
  max-width: 600px;
  width: 100%;
  padding: 5px;
  justify-content: center;
}

main div#btn {
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

div#btn button {
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100px;
  font-size: 1.1rem;
  box-shadow: 0 0 3px #808080;
}

main div#vitoria {
  background-color: #fff;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 5;
  top: 130px;
  left: 250px;
  text-align: center;
  box-shadow: 0 0 5px 3px #303030;
}

div#player {
  width: 20px;
  height: 20px;
}
div#player.right {
  transform: rotate(90deg);
}
div#player.left {
  transform: rotate(-90deg);
}
div#player.up {
  transform: rotate(0deg);
}
div#player.down {
  transform: rotate(180deg);
}

.line {
  display: flex;
  flex-flow: row nowrap;
}

.wall {
  background-color: #009;
  width: 25px;
  height: 25px;
}

.path {
  width: 25px;
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.start {
  background-color: #090;
  width: 25px;
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.finish {
  background-color: #090;
  width: 25px;
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
